body {
	margin: 0px;
}
button {
	border: 0px;
	margin: 0px;
	padding: 5px;
}
#games-container {
	width: 100%;
}
#header button{
	width: 50%;
	padding: 20px;
}
.game {
	width: 100%;
	height: 40px;
	border-top: 1px solid #777777;
}
#games-container .game:nth-child(1) {
	border-top: 0px;
}
.game .password {
	display: inline-block;
	width: 40px;
	height: 100%;
}
.game .has-password {
	background-color: red;
}
.game .no-password {
	background-color: green;
}
.game > .max-players, .game > .num-players {
	display: inline-block;
	height: 100%;
	width: 50px;
	vertical-align: bottom;
}
